<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epmc">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Choirgoals"></activity>
        <activity android:name=".Scheduledevents" />
        <activity android:name=".Churches" />
        <activity android:name=".Announcements" />
        <activity android:name=".Youthoutreach" />
        <activity android:name=".Youthinreach" />
        <activity android:name=".Youthmeet" />
        <activity android:name=".MissandMin" />
        <activity android:name=".SeniorChristianFellowship" />
        <activity android:name=".WomensFellowship" />
        <activity android:name=".Choir" />
        <activity android:name=".Youth" />
        <activity android:name=".Sundayschool" />
        <activity android:name=".CSIMalayalamChurches" />
        <activity android:name=".ChurchLeaders" />
        <activity android:name=".Mission" />
        <activity android:name=".History" />
        <activity android:name=".UpcomingEvents" />
        <activity android:name=".LifeatEastparade" />
        <activity android:name=".QandA" />
        <activity android:name=".Contactus" />
        <activity android:name=".Visitus" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Ministries" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>